<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68308620191-h5lateatkifhta612hjevsq2kbu2kele.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68308620191-h5lateatkifhta612hjevsq2kbu2kele</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>68308620191-b44ihqiar9brua07l1ikqcndgu9q9gs3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGakLp0UVOdeQQA9OakKTUDehJBlb23mo</string>
	<key>GCM_SENDER_ID</key>
	<string>68308620191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healthathomemobile.app</string>
	<key>PROJECT_ID</key>
	<string>healthathome-328216</string>
	<key>STORAGE_BUCKET</key>
	<string>healthathome-328216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68308620191:ios:7fd0f30e91bc0d732063aa</string>
</dict>
</plist>